// Desventajas de CSS plano
// * No es programación
// * Problemas de especificidad, cascada y herencia a niveles grandes
// * Modularizacion

// Sass
// * Sass convierte CSS en un lenguaje de programación
// * Es un preprocesador de CSS
// * Hay que compilar a CSS
// * Sass es compatible con CSS

// Como trabajar con sass
// * Modulariza -> dividir la hoja de estilo en varios archivos
// * Importa desde un archivo principal
// * Compilar


:root
{
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw)
}

*, ::before, ::after
{
  box-sizing: inherit;
}

@import "components/variables";
@import "components/functions";
@import "components/ciclos";
@import "components/nesting";
@import "components/mixins";
@import "components/extends";
